/* fonts */

@font-face {
    font-family: "Droid Arabic Naskh";
    src: url(../fonts/Droid-Naskh-Regular.ttf);
}

@font-face {
    font-family: "GE SS Two";
    src: url(../fonts/GE_SS_Two_Medium.otf);
}